/*----------  Lists  ----------*/

.list-inline
{
	@include reset-list;

	li
	{
		display: inline-block;
		float: none;
		clear: both;

		@include reset;
	}
}

.list-inline-float
{
	@include clearfix;
	@include reset-list;

	li
	{
		display: block;
		float: left;

		@include reset;
	}
}