################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LitmusApp/FileContentIndex
/.vs/LitmusApp/v17/.suo
/LitmusWeb/bin/DataAccess.dll
/LitmusWeb/bin/DataAccess.dll.config
/LitmusWeb/bin/DataAccess.pdb
/LitmusWeb/bin/LitmusWeb.dll
/LitmusWeb/bin/LitmusWeb.pdb
/DataAccess/bin/Debug/BouncyCastle.Crypto.dll
/DataAccess/bin/Debug/BouncyCastle.Crypto.xml
/DataAccess/bin/Debug/ClosedXML.dll
/DataAccess/bin/Debug/ClosedXML.pdb
/DataAccess/bin/Debug/ClosedXML.xml
/DataAccess/bin/Debug/Common.Logging.Core.dll
/DataAccess/bin/Debug/Common.Logging.Core.pdb
/DataAccess/bin/Debug/Common.Logging.Core.xml
/DataAccess/bin/Debug/Common.Logging.dll
/DataAccess/bin/Debug/Common.Logging.pdb
/DataAccess/bin/Debug/Common.Logging.xml
/DataAccess/bin/Debug/DataAccess.dll
/DataAccess/bin/Debug/DataAccess.dll.config
/DataAccess/bin/Debug/DataAccess.pdb
/DataAccess/bin/Debug/DocumentFormat.OpenXml.dll
/DataAccess/bin/Debug/DocumentFormat.OpenXml.xml
/DataAccess/bin/Debug/EntityFramework.dll
/DataAccess/bin/Debug/EntityFramework.SqlServer.dll
/DataAccess/bin/Debug/EntityFramework.SqlServer.xml
/DataAccess/bin/Debug/EntityFramework.xml
/DataAccess/bin/Debug/ExcelNumberFormat.dll
/DataAccess/bin/Debug/ExcelNumberFormat.xml
/DataAccess/bin/Debug/FastMember.dll
/DataAccess/bin/Debug/itext.barcodes.dll
/DataAccess/bin/Debug/itext.barcodes.xml
/DataAccess/bin/Debug/itext.forms.dll
/DataAccess/bin/Debug/itext.forms.xml
/DataAccess/bin/Debug/itext.io.dll
/DataAccess/bin/Debug/itext.io.xml
/DataAccess/bin/Debug/itext.kernel.dll
/DataAccess/bin/Debug/itext.kernel.xml
/DataAccess/bin/Debug/itext.layout.dll
/DataAccess/bin/Debug/itext.layout.xml
/DataAccess/bin/Debug/itext.pdfa.dll
/DataAccess/bin/Debug/itext.pdfa.xml
/DataAccess/bin/Debug/itext.sign.dll
/DataAccess/bin/Debug/itext.sign.xml
/DataAccess/bin/Debug/itext.styledxmlparser.dll
/DataAccess/bin/Debug/itext.styledxmlparser.xml
/DataAccess/bin/Debug/itext.svg.dll
/DataAccess/bin/Debug/itext.svg.xml
/DataAccess/bin/Debug/itextsharp.dll
/DataAccess/bin/Debug/itextsharp.xml
/DataAccess/bin/Debug/KellermanSoftware.Compare-NET-Objects.dll
/DataAccess/bin/Debug/KellermanSoftware.Compare-NET-Objects.xml
/DataAccess/bin/Debug/Newtonsoft.Json.dll
/DataAccess/bin/Debug/Newtonsoft.Json.xml
/DataAccess/bin/Debug/SendGrid.dll
/DataAccess/bin/Debug/SendGrid.pdb
/DataAccess/bin/Debug/SendGrid.xml
/DataAccess/bin/Debug/System.IO.dll
/DataAccess/bin/Debug/System.IO.FileSystem.Primitives.dll
/DataAccess/bin/Debug/System.IO.Packaging.dll
/DataAccess/bin/Debug/System.Net.Http.dll
/DataAccess/bin/Debug/System.Runtime.dll
/DataAccess/bin/Debug/System.Security.Cryptography.Algorithms.dll
/DataAccess/bin/Debug/System.Security.Cryptography.Encoding.dll
/DataAccess/bin/Debug/System.Security.Cryptography.Primitives.dll
/DataAccess/bin/Debug/System.Security.Cryptography.X509Certificates.dll
/DataAccess/bin/Debug/Z.EntityFramework.Extensions.dll
/DataAccess/bin/Debug/Z.EntityFramework.Extensions.xml
/DataAccess/bin/Debug/Z.Expressions.Eval.dll
/DataAccess/bin/Debug/Z.Expressions.Eval.xml
/LitmusWeb/obj/Debug/LitmusWeb.csproj.AssemblyReference.cache
/LitmusWeb/obj/Debug/LitmusWeb.csproj.CoreCompileInputs.cache
/LitmusWeb/obj/Debug/LitmusWeb.dll
/LitmusWeb/obj/Debug/LitmusWeb.pdb
/DataAccess/obj/Debug/edmxResourcesToEmbed/LitmusModel.csdl
/DataAccess/obj/Debug/edmxResourcesToEmbed/LitmusModel.msl
/DataAccess/obj/Debug/edmxResourcesToEmbed/LitmusModel.ssdl
/DataAccess/obj/Debug/DataAccess.csproj.AssemblyReference.cache
/DataAccess/obj/Debug/DataAccess.csproj.CoreCompileInputs.cache
/DataAccess/obj/Debug/DataAccess.dll
/DataAccess/obj/Debug/DataAccess.pdb
/DataAccess/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DataAccess/obj/Debug/TempPE/LitmusModel.cs.dll
/DataAccess/obj/Debug/TempPE/LitmusModel.Designer.cs.dll
/.vs/LitmusApp/v17/fileList.bin
/LitmusWeb/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/LitmusWeb/obj/Debug/LitmusWeb.csproj.FileListAbsolute.txt
/DataAccess/.vs/DataAccess.csproj.dtbcache.json
