/*----------  Margins and Paddings  ----------*/

@for $i from 1 through 6
{
	$space: $i * 5;
	$unit: 'px';
	
	// Margin

	.m-t-#{$space}
	{
		margin-top: #{$space + $unit};
	}

	.m-b-#{$space}
	{
		margin-bottom: #{$space + $unit};
	}

	.m-l-#{$space}
	{
		margin-left: #{$space + $unit};
	}

	.m-r-#{$space}
	{
		margin-right: #{$space + $unit};
	}

	// Padding

	.p-l-#{$space}
	{
		padding-left: #{$space + $unit};
	}

	.p-t-#{$space}
	{
		padding-top: #{$space + $unit};
	}

	.p-b-#{$space}
	{
		padding-bottom: #{$space + $unit};
	}

	.p-r-#{$space}
	{
		padding-right: #{$space + $unit};
	}
}