<!DOCTYPE html>
@using System.Web.Optimization;
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A web application for Sugar Lab Management Information System. Developed by Technorator LLP. New Delhi.
            Sugar Lab Analysis Reports. Live View of Sugar factories key factors like Crushing, Juice Brix, Pol & Purity as well as stoppages occured." />
    <meta name="keywords" content="Sugar Lab, Sugar Lab Analysis, Live Monitoring of Sugar Factories production, Crushing status
           , stoppages occured during crushing season, Hourly based analysis entry system, Sugar, Sugar Factories, Molasses, Sugar Recovery, Sugar Bagging
           , Ravi Bhushan
           , Birla Sugar and Industries
           , Technorator LLP, Techonrator
           , DSCL Sugar
           , DCM Shriram Consolidated Ltd.
           , Dalmia Sugar
           , Mawana Sugar
           , Litmus
           , BSLIS
           , Birla Sugar Lab Information System
           , UP Cane
           , Sugar Cane
           , Dalmia sugar
           , Bajaj Sugar
           , Cane
           , Kisan.net
           " />
    <title>@ViewBag.Title - BSLIS</title>

    @Styles.Render("~/Bundles/scriptbundle_datatable")


</head>
<body class="login">
    <div>
        @RenderBody()
    </div>
    @*<span id="siteseal">
        <script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=EZysRlH11D6uZZyT6sw63bpUK0yXswwcWdaKShOSJiRlSylMUodoxSt9IhlE"></script>
    </span>*@
</body>
@Scripts.Render("~/Bundles/scriptBundle_initialScripts")
</html>
