<?xml version="1.0" encoding="utf-8"?>


<connectionStrings>
	<!-- Azure Db Server-->
	<!--<add name="SugarLabEntities" connectionString="metadata=res://*/LitmusModel.csdl|res://*/LitmusModel.ssdl|res://*/LitmusModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=uat-bslis.database.windows.net ;initial catalog=uat-SugarLab;Persist Security Info=false;User ID=tiger; password =Bitcodes&amp;*9988; MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	<!-- Azure Db Server-->

	<!-- UAT Cloud4C database connection string-->
	<!--<add name="SugarLabEntities" connectionString="metadata=res://*/LitmusModel.csdl|res://*/LitmusModel.ssdl|res://*/LitmusModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.14.45.96 ;initial catalog=uat_SugarLab;Persist Security Info=false;User ID=seohara; password =Bitcodes&amp;*998; MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	<!-- Cloud4C database connection string-->

	<!-- Production Server Cloud4C-->
	<add name="SugarLabEntities" connectionString="metadata=res://*/LitmusModel.csdl|res://*/LitmusModel.ssdl|res://*/LitmusModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.14.45.96 ;initial catalog=SugarLab;Persist Security Info=false;User ID=seohara; password =Bitcodes&amp;*998; MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<!-- Productio Server Cloud4C-->
  
  
</connectionStrings>