@model IEnumerable<LitmusWeb.Models.MasterUnitModel>
@using System.Web.Optimization
@{
    ViewBag.Title = "Index - Unit Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-panel">
    <div class="content-wrapper" id="content-wrapper">


        <!-- Custom dashboard Starts Here-->
        @*<div class="alert alert-danger hide" id="div-critical-alert" name="div-critical-alert"><span class="blink" id="criticalMessageText"></span></div>*@
        <div class="col-md-12 grid-margin stretch-card">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="card-description float-right">
                        </div>
                        <div class="row">
                            <div class="col-md-12 mx-auto">
                                <p>
                                    <strong>Entry Date :</strong><code id="EntryDate"></code>
                                    <strong>Entry Time :</strong><code id="EntryTime"></code>
                                </p>
                                <ul class="nav nav-pills nav-pills-success" id="pills-tab" role="tablist">

                                    @{int count = 0; }
                                    @foreach (var item in Model)
                                    {
                                        count++;

                                        // by below if else condition I am controlling a class property name 'active'
                                        // first tab will be active at the time of loading the page
                                        if (count == 1)
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link dashboard-tab active" id="test-tab" data-toggle="tab" href="#tab-@item.Code" role="tab" aria-controls="tab-@item.Code-tab">@item.Name</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link dashboard-tab" id="test-tab" data-toggle="tab" href="#tab-@item.Code" role="tab" aria-controls="tab-@item.Code-tab">@item.Name</a>
                                            </li>
                                        }
                                    }
                                </ul>
                                <div class="tab-content">
                                    @{int contentCount = 0;}
                                    @foreach (var item in Model)
                                    {
                                        // if condition says, if it is first line of the model make this tag selected.
                                        // add "active" property div class
                                        contentCount++;
                                        if (contentCount == 1)
                                        {

                                            <div class="tab-pane fade show row active" role="tabpanel" aria-labelledby="@item.Code-tab" id="tab-@item.Code">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="row">
                                                            <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                                                                <div class="card">
                                                                    <div class="card-body">

                                                                        <h4 class="card-title">Total Juice</h4>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Hour: <span id="tab-@item.Code-total-juice-hour"></span></p>
                                                                            <p class="text-muted">Day: <span id="tab-@item.Code-total-juice-day"></span></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                                                                <div class="card">
                                                                    <div class="card-body">

                                                                        <h4 class="card-title">Total Water</h4>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Hour: <span id="tab-@item.Code-total-water-hour"></span></p>
                                                                            <p class="text-muted">Day: <span id="tab-@item.Code-total-water-day"></span></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                                                                <div class="card">
                                                                    <div class="card-body">

                                                                        <h4 class="card-title">Crushing</h4>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Hour: <span id="tab-@item.Code-total-crushing-hour"></span></p>
                                                                            <p class="text-muted">Day: <span id="tab-@item.Code-total-crushing-day"></span></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                                                                <div class="card">
                                                                    <div class="card-body">

                                                                        <h4 class="card-title">Sugar Bags</h4>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Hour: <span id="tab-@item.Code-total-SugarBags-hour"></span></p>
                                                                            <p class="text-muted">Day: <span id="tab-@item.Code-total-SugarBags-day"></span></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-12 col-sm-4 col-md-4 col-xl-2 grid-margin stretch-card">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <h4 class="card-title">Primary Juice</h4>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Brix:</p>
                                                                            <span id="tab-@item.Code-combined_pj_brix"></span>
                                                                        </div>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted"> Pol : </p>
                                                                            <span id="tab-@item.Code-combined_pj_pol"></span>

                                                                        </div>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Purity: </p>
                                                                            <span id="tab-@item.Code-combined_pj_purity"></span>
                                                                        </div>
                                                                        @*<div class="progress progress-md">
                                                                            <div class="progress-bar bg-info w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                                        </div>*@
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-sm-4 col-md-4 col-xl-2 grid-margin stretch-card">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <h4 class="card-title">Mixed Juice</h4>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Brix: </p>
                                                                            <span id="tab-@item.Code-combined_mj_brix"></span>
                                                                        </div>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Pol: </p>
                                                                            <span id="tab-@item.Code-combined_mj_pol"></span>
                                                                        </div>

                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Purity: </p>
                                                                            <span id="tab-@item.Code-combined_mj_purity"></span>
                                                                        </div>
                                                                        @*<div class="progress progress-md">
                                                                            <div class="progress-bar bg-success w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                                        </div>*@
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-sm-4 col-md-4 col-xl-2 grid-margin stretch-card">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <h4 class="card-title">Last Juice</h4>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Brix: </p>
                                                                            <span id="tab-@item.Code-combined_lj_brix"></span>
                                                                        </div>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Pol: </p>
                                                                            <span id="tab-@item.Code-combined_lj_pol"></span>
                                                                        </div>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Purity: </p>
                                                                            <span id="tab-@item.Code-combined_lj_purity"></span>
                                                                        </div>
                                                                        @*<div class="progress progress-md">
                                                                            <div class="progress-bar bg-danger w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                                        </div>*@
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-sm-6 col-md-6 col-xl-2 grid-margin stretch-card">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <h4 class="card-title">Clear Juice</h4>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Brix: </p>
                                                                            <span id="tab-@item.Code-clear_juice_brix_avg"></span>
                                                                        </div>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Pol: </p>
                                                                            <span id="tab-@item.Code-clear_juice_pol_avg"></span>
                                                                        </div>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Purity: </p>
                                                                            <span id="tab-@item.Code-clear_juice_purity"></span>
                                                                        </div>
                                                                        @*<div class="progress progress-md">
                                                                            <div class="progress-bar bg-warning w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                                        </div>*@
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-sm-6 col-md-6 col-lg-2 grid-margin stretch-card">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <h4 class="card-title">Un-Sulp. Syrup</h4>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Brix: </p>
                                                                            <span id="tab-@item.Code-un_sulphered_brix_avg"></span>
                                                                        </div>
                                                                        <div class="d-flex justify-content-between">

                                                                            <p class="text-muted">Pol: </p>
                                                                            <span id="tab-@item.Code-un_sulphered_pol_avg"></span>
                                                                        </div>
                                                                        <div class="d-flex justify-content-between">

                                                                            <p class="text-muted">Purity: </p>
                                                                            <span id="tab-@item.Code-un_sulphered_purity"></span>
                                                                        </div>
                                                                        @*<div class="progress progress-md">
                                                                            <div class="progress-bar bg-warning w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                                        </div>*@
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-12 col-sm-6 col-md-6 col-lg-2 grid-margin stretch-card">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <h4 class="card-title">Sulp. Syrup</h4>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Brix: </p>
                                                                            <span id="tab-@item.Code-sulphered_brix_avg"></span>
                                                                        </div>
                                                                        <div class="d-flex justify-content-between">

                                                                            <p class="text-muted">Pol: </p>
                                                                            <span id="tab-@item.Code-sulphered_pol_avg"></span>
                                                                        </div>
                                                                        <div class="d-flex justify-content-between">

                                                                            <p class="text-muted">Purity: </p>
                                                                            <span id="tab-@item.Code-sulphered_purity"></span>
                                                                        </div>
                                                                        @*<div class="progress progress-md">
                                                                            <div class="progress-bar bg-warning w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                                        </div>*@
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <h4 class="card-title text-primary">Oliver</h4>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Brix: </p>
                                                                            <span id="tab-@item.Code-oliver_brix_avg"></span>
                                                                        </div>

                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Pol: </p>
                                                                            <span id="tab-@item.Code-oliver_pol_avg"></span>
                                                                        </div>

                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Purity: </p>
                                                                            <span id="tab-@item.Code-oliver_purity_avg"></span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <h4 class="card-title text-danger" ">Final Molasses</h4>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Brix: </p>
                                                                            <span id="tab-@item.Code-final_mol_brix_avg"></span>

                                                                        </div>

                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Pol: </p>
                                                                            <span id="tab-@item.Code-final_mol_pol_avg"></span>

                                                                        </div>

                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Purity: </p>
                                                                            <span id="tab-@item.Code-final_mol_purity"></span>
                                                                        </div>
                                                                        @*<div class="progress progress-md">
                                                                            <div class="progress-bar bg-success w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                                        </div>*@
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <h4 class="card-title text-danger">Press Cake</h4>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Average:</p>
                                                                            <span id="tab-@item.Code-press_cake_avg"></span>
                                                                        </div>

                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Moisture:</p>
                                                                            <span id="tab-@item.Code-press_cake_moisture_avg"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <h4 class="card-title text-danger" ">Bagasse</h4>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Pol: </p>
                                                                            <span id="tab-@item.Code-combined_bagasse_pol_avg"></span>
                                                                        </div>
                                                                        <div class="d-flex justify-content-between">

                                                                            <p class="text-muted">Moisture: </p>
                                                                            <span id="tab-@item.Code-combined_bagasse_moist_avg"></span>
                                                                        </div>
                                                                        @*<div class="progress progress-md">
                                                                            <div class="progress-bar bg-danger w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                                        </div>*@
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- yard status-->
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="row">
                                                            <div class="col-12 col-sm-6 col-md-6 col-xl-12 grid-margin stretch-card">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <h4 class="card-title">Yard Status</h4>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Trucks: <span id="tab-@item.Code-standing_truck"></span></p>
                                                                            <p class="text-muted">Trolley: <span id="tab-@item.Code-standing_trolley"></span></p>
                                                                            <p class="text-muted">Trippler: <span id="tab-@item.Code-standing_trippler"></span></p>
                                                                            <p class="text-muted">Cart: <span id="tab-@item.Code-standing_cart"></span></p>
                                                                            <p class="text-muted">Un-crushed: <span id="tab-@item.Code-uncrushed_cane"></span></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end of yard status-->
                                                <!-- previous day ledger data start-->
                                                @*<div class="row">
                                                    <div class="col-12">
                                                        <div class="row">
                                                            <div class="col-12 col-sm-6 col-md-6 col-xl-12 grid-margin stretch-card">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <h4 class="card-title">Previous Day Summary</h4>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Cane Crushed: <span id="tab-@item.Code-cane_crushed"></span></p>
                                                                            <p class="text-muted">Revovery %: <span id="tab-@item.Code-estimated_sugar_percent_cane"></span></p>
                                                                            <p class="text-muted">Loss %: <span id="tab-@item.Code-total_loss"></span></p>
                                                                            <p class="text-muted">Sugar Bags(Nos): <span id="tab-@item.Code-total_sugar_bagged"></span></p>
                                                                        </div>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">F.Mol. Sentout: <span id="tab-@item.Code-final_molasses_sent_out_percent"></span></p>
                                                                            <p class="text-muted">Stoppages(Hrs): <span id="tab-@item.Code-stoppage_hours"></span></p>
                                                                            <p class="text-muted">Sugar in Proc(Qtl): <span id="tab-@item.Code-sugar_in_process_qtl"></span></p>
                                                                            <p class="text-muted">Molasses in Proc(Qtl): <span id="tab-@item.Code-molasses_in_process_qtl"></span></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>*@
                                                <!-- endprevious day ledger data-->
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="tab-pane fade show row" role="tabpanel" aria-labelledby="@item.Code-tab" id="tab-@item.Code">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="row">
                                                            <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                                                                <div class="card">
                                                                    <div class="card-body">

                                                                        <h4 class="card-title">Total Juice</h4>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Hour: <span id="tab-@item.Code-total-juice-hour"></span></p>
                                                                            <p class="text-muted">Day: <span id="tab-@item.Code-total-juice-day"></span></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                                                                <div class="card">
                                                                    <div class="card-body">

                                                                        <h4 class="card-title">Total Water</h4>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Hour: <span id="tab-@item.Code-total-water-hour"></span></p>
                                                                            <p class="text-muted">Day: <span id="tab-@item.Code-total-water-day"></span></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                                                                <div class="card">
                                                                    <div class="card-body">

                                                                        <h4 class="card-title">Crushing</h4>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Hour: <span id="tab-@item.Code-total-crushing-hour"></span></p>
                                                                            <p class="text-muted">Day: <span id="tab-@item.Code-total-crushing-day"></span></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                                                                <div class="card">
                                                                    <div class="card-body">

                                                                        <h4 class="card-title">Sugar Bags</h4>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Hour: <span id="tab-@item.Code-total-SugarBags-hour"></span></p>
                                                                            <p class="text-muted">Day: <span id="tab-@item.Code-total-SugarBags-day"></span></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-sm-4 col-md-4 col-xl-2 grid-margin stretch-card">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <h4 class="card-title">Primary Juice</h4>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Brix:</p>
                                                                            <span id="tab-@item.Code-combined_pj_brix"></span>
                                                                        </div>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted"> Pol : </p>
                                                                            <span id="tab-@item.Code-combined_pj_pol"></span>

                                                                        </div>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Purity: </p>
                                                                            <span id="tab-@item.Code-combined_pj_purity"></span>
                                                                        </div>
                                                                        @*<div class="progress progress-md">
                                                                            <div class="progress-bar bg-info w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                                        </div>*@
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-sm-4 col-md-4 col-xl-2 grid-margin stretch-card">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <h4 class="card-title">Mixed Juice</h4>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Brix: </p>
                                                                            <span id="tab-@item.Code-combined_mj_brix"></span>
                                                                        </div>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Pol: </p>
                                                                            <span id="tab-@item.Code-combined_mj_pol"></span>
                                                                        </div>

                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Purity: </p>
                                                                            <span id="tab-@item.Code-combined_mj_purity"></span>
                                                                        </div>
                                                                        @*<div class="progress progress-md">
                                                                            <div class="progress-bar bg-success w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                                        </div>*@
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-sm-4 col-md-4 col-xl-2 grid-margin stretch-card">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <h4 class="card-title">Last Juice</h4>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Brix: </p>
                                                                            <span id="tab-@item.Code-combined_lj_brix"></span>
                                                                        </div>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Pol: </p>
                                                                            <span id="tab-@item.Code-combined_lj_pol"></span>
                                                                        </div>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Purity: </p>
                                                                            <span id="tab-@item.Code-combined_lj_purity"></span>
                                                                        </div>
                                                                        @*<div class="progress progress-md">
                                                                            <div class="progress-bar bg-danger w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                                        </div>*@
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-sm-6 col-md-6 col-xl-2 grid-margin stretch-card">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <h4 class="card-title">Clear Juice</h4>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Brix: </p>
                                                                            <span id="tab-@item.Code-clear_juice_brix_avg"></span>
                                                                        </div>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Pol: </p>
                                                                            <span id="tab-@item.Code-clear_juice_pol_avg"></span>
                                                                        </div>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Purity: </p>
                                                                            <span id="tab-@item.Code-clear_juice_purity"></span>
                                                                        </div>
                                                                        @*<div class="progress progress-md">
                                                                            <div class="progress-bar bg-warning w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                                        </div>*@
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-sm-6 col-md-6 col-lg-2 grid-margin stretch-card">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <h4 class="card-title">Un-Sulp. Syrup</h4>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Brix: </p>
                                                                            <span id="tab-@item.Code-un_sulphered_brix_avg"></span>
                                                                        </div>
                                                                        <div class="d-flex justify-content-between">

                                                                            <p class="text-muted">Pol: </p>
                                                                            <span id="tab-@item.Code-un_sulphered_pol_avg"></span>
                                                                        </div>
                                                                        <div class="d-flex justify-content-between">

                                                                            <p class="text-muted">Purity: </p>
                                                                            <span id="tab-@item.Code-un_sulphered_purity"></span>
                                                                        </div>
                                                                        @*<div class="progress progress-md">
                                                                            <div class="progress-bar bg-warning w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                                        </div>*@
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-12 col-sm-6 col-md-6 col-lg-2 grid-margin stretch-card">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <h4 class="card-title">Sulp. Syrup</h4>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Brix: </p>
                                                                            <span id="tab-@item.Code-sulphered_brix_avg"></span>
                                                                        </div>
                                                                        <div class="d-flex justify-content-between">

                                                                            <p class="text-muted">Pol: </p>
                                                                            <span id="tab-@item.Code-sulphered_pol_avg"></span>
                                                                        </div>
                                                                        <div class="d-flex justify-content-between">

                                                                            <p class="text-muted">Purity: </p>
                                                                            <span id="tab-@item.Code-sulphered_purity"></span>
                                                                        </div>
                                                                        @*<div class="progress progress-md">
                                                                            <div class="progress-bar bg-warning w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                                        </div>*@
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <h4 class="card-title text-primary">Oliver</h4>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Brix: </p>
                                                                            <span id="tab-@item.Code-oliver_brix_avg"></span>
                                                                        </div>

                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Pol: </p>
                                                                            <span id="tab-@item.Code-oliver_pol_avg"></span>
                                                                        </div>

                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Purity: </p>
                                                                            <span id="tab-@item.Code-oliver_purity_avg"></span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <h4 class="card-title text-danger" ">Final Molasses</h4>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Brix: </p>
                                                                            <span id="tab-@item.Code-final_mol_brix_avg"></span>

                                                                        </div>

                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Pol: </p>
                                                                            <span id="tab-@item.Code-final_mol_pol_avg"></span>

                                                                        </div>

                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Purity: </p>
                                                                            <span id="tab-@item.Code-final_mol_purity"></span>
                                                                        </div>
                                                                        @*<div class="progress progress-md">
                                                                            <div class="progress-bar bg-success w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                                        </div>*@
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <h4 class="card-title text-danger">Press Cake</h4>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Average:</p>
                                                                            <span id="tab-@item.Code-press_cake_avg"></span>
                                                                        </div>

                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Moisture:</p>
                                                                            <span id="tab-@item.Code-press_cake_moisture_avg"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <h4 class="card-title text-danger" ">Bagasse</h4>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Pol: </p>
                                                                            <span id="tab-@item.Code-combined_bagasse_pol_avg"></span>
                                                                        </div>
                                                                        <div class="d-flex justify-content-between">

                                                                            <p class="text-muted">Moisture: </p>
                                                                            <span id="tab-@item.Code-combined_bagasse_moist_avg"></span>
                                                                        </div>

                                                                        @*<div class="progress progress-md">
                                                                            <div class="progress-bar bg-danger w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                                        </div>*@
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- yard status-->
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="row">
                                                            <div class="col-12 col-sm-6 col-md-6 col-xl-12 grid-margin stretch-card">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <h4 class="card-title">Yard Status</h4>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Trucks: <span id="tab-@item.Code-standing_truck"></span></p>
                                                                            <p class="text-muted">Trippler: <span id="tab-@item.Code-standing_trippler"></span></p>
                                                                            <p class="text-muted">Trolley: <span id="tab-@item.Code-standing_trolley"></span></p>
                                                                            <p class="text-muted">Cart: <span id="tab-@item.Code-standing_cart"></span></p>
                                                                            <p class="text-muted">Un-crushed: <span id="tab-@item.Code-uncrushed_cane"></span></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end of yard status-->
                                                <!-- previous day ledger data start-->
                                                @*<div class="row">
                                                    <div class="col-12">
                                                        <div class="row">
                                                            <div class="col-12 col-sm-6 col-md-6 col-xl-12 grid-margin stretch-card">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <h4 class="card-title">Previous Day Summary</h4>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">Cane Crushed: <span id="tab-@item.Code-cane_crushed"></span></p>
                                                                            <p class="text-muted">Revovery %: <span id="tab-@item.Code-estimated_sugar_percent_cane"></span></p>
                                                                            <p class="text-muted">Loss %: <span id="tab-@item.Code-total_loss"></span></p>
                                                                            <p class="text-muted">Sugar Bags(Nos): <span id="tab-@item.Code-total_sugar_bagged"></span></p>
                                                                        </div>
                                                                        <div class="d-flex justify-content-between">
                                                                            <p class="text-muted">F.Mol. Sentout: <span id="tab-@item.Code-final_molasses_sent_out_percent"></span></p>
                                                                            <p class="text-muted">Stoppages(Hrs): <span id="tab-@item.Code-stoppage_hours"></span></p>
                                                                            <p class="text-muted">Sugar in Proc(Qtl): <span id="tab-@item.Code-sugar_in_process_qtl"></span></p>
                                                                            <p class="text-muted">Sugar in Proc(Qtl): <span id="tab-@item.Code-molasses_in_process_qtl"></span></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>*@
                                                <!-- endprevious day ledger data-->
                                            </div>
                                        }

                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Previous Day Data (a saperate Row)-->
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane fade show row active" role="tabpanel" aria-labelledby="x" id="x">
                                <div class="card-title">
                                    <h3 class="btn btn-success">Previous Day Estimated Recoveries on Other Basis</h3>
                                    <span class="text-danger" id="otherRecoveriesStatus"></span>
                                </div>

                                <div class="row">
                                    <!-- Other Recoveries-->
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">C-Heavy</h4>
                                                        <div class="d-flex justify-content-between">
                                                            <p class="text-muted">Loss % Cane</p>
                                                            <p class="text-muted float-right"><span id="prv-day-loss-in-c-heavy-percent-cane"></span></p>
                                                        </div>
                                                        <div class="d-flex justify-content-between">
                                                            <p class="text-muted">Recovery % Cane</p>
                                                            <p class="text-muted float-right"><span id="prv-day-recovery-on-c-heavy"></span></p>
                                                        </div>
                                                        <hr />
                                                        <div class="d-flex justify-content-between">
                                                            <p class="text-muted">Recovery % Cane (To date)</p>
                                                            <p class="text-muted float-right"><span id="prv-day-recovery-on-c-heavy_to_date"></span></p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">B-Heavy</h4>
                                                        <div class="d-flex justify-content-between">
                                                            <p class="text-muted">Loss % Cane</p>
                                                            <p class="text-muted float-right"><span id="prv-day-loss-in-b-heavy-percent-cane"></span></p>
                                                        </div>
                                                        <div class="d-flex justify-content-between">
                                                            <p class="text-muted">Recovery % Cane</p>
                                                            <p class="text-muted float-right"><span id="prv-day-recovery-on-b-heavy"></span></p>
                                                        </div>
                                                        <hr />
                                                        <div class="d-flex justify-content-between">
                                                            <p class="text-muted">Recovery % Cane (To date)</p>
                                                            <p class="text-muted float-right"><span id="prv-day-recovery-on-b-heavy_to_date"></span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Raw Sugar</h4>
                                                        <div class="d-flex justify-content-between">
                                                            <p class="text-muted">Gain (%)</p>
                                                            <p class="text-muted float-right"><span id="prv-day-raw-sugar-gain"></span></p>
                                                        </div>
                                                        <div class="d-flex justify-content-between">
                                                            <p class="text-muted">Recovery % Cane</p>
                                                            <p class="text-muted float-right"><span id="prv-day-recovery-on-raw-sugar"></span></p>
                                                        </div>
                                                        <hr/>
                                                        <div class="d-flex justify-content-between">
                                                            <p class="text-muted">Recovery % Cane (To-date)</p>
                                                            <p class="text-muted float-right"><span id="prv-day-recovery-on-raw-sugar_to_date"></span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Syrup</h4>
                                                        <div class="d-flex justify-content-between">
                                                            <p class="text-muted">Syrup Diversion</p>
                                                            <p class="text-muted float-right"><span id="prv-day-syrup-diversion"></span></p>
                                                        </div>
                                                        <div class="d-flex justify-content-between">
                                                            <p class="text-muted">Recovery % Cane</p>
                                                            <p class="text-muted float-right"><span id="prv-day-recovery-on-syrup-sugar"></span></p>
                                                        </div>
                                                        <hr/>
                                                        <div class="d-flex justify-content-between">
                                                            <p class="text-muted">Recovery % Cane(To-date)</p>
                                                            <p class="text-muted float-right"><span id="prv-day-recovery-on-syrup-sugar_to_date"></span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!--Other Recoveries End-->
                                </div>
                                <div class="card-title">
                                    <h3 class="btn btn-info">Previous Day & To-Date Summary</h3>
                                </div>
                                <div class="row">

                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Cane Crushed (Qtls.)</h4>
                                                        <div class="d-flex justify-content-between">
                                                            <p class="text-muted">Prv. Day </p>
                                                            <p class="text-muted float-right"><span id="prv-day-cane-crushed"></span></p>
                                                        </div>
                                                        <div class="d-flex justify-content-between">
                                                            <p class="text-muted">To-Date </p>
                                                            <p class="text-muted float-right"><span id="prv_todate-cane-crushed" class="text-right"></span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Recovery (%)</h4>
                                                        <div class="d-flex justify-content-between">
                                                            <p class="text-muted">Prv. Day </p>
                                                            <p class="text-muted float-right"><span id="prv-day-recovery"></span></p>

                                                        </div>
                                                        <div class="d-flex justify-content-between">
                                                            <p class="text-muted">To-Date </p>
                                                            <p class="text-muted float-right"><span id="prv_todate-day-recovery" class="float-right"></span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Losses (%)</h4>
                                                        <div class="d-flex justify-content-between">
                                                            <p class="text-muted">Prv. Day </p>
                                                            <p class="text-muted float-right"><span id="prv-day-losess"></span></p>

                                                        </div>
                                                        <div class="d-flex justify-content-between">
                                                            <p class="text-muted">To-Date </p>
                                                            <p class="text-muted float-right"><span id="prv_todate-losses"></span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Sugar Bags(Nos.)</h4>
                                                        <div class="d-flex justify-content-between">
                                                            <p class="text-muted">Prv. Day </p>
                                                            <p class="text-muted float-right"><span id="prv-day-sugar-bags"></span></p>

                                                        </div>
                                                        <div class="d-flex justify-content-between">
                                                            <p class="text-muted">To-Date </p>
                                                            <p class="text-muted float-right"><span id="prv_todate-sugar-bags"></span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Final Mol Sent out (Qtl.)</h4>
                                                        <div class="d-flex justify-content-between">
                                                            <p class="text-muted">Prv. Day </p>
                                                            <p class="text-muted float-right"><span id="prv-day-final-mol-sent"></span></p>

                                                        </div>
                                                        <div class="d-flex justify-content-between">
                                                            <p class="text-muted">To-Date </p>
                                                            <p class="text-muted float-right"><span id="prv_todate-final-mol-sent"></span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Stoppages (HH:MM)</h4>
                                                        <div class="d-flex justify-content-between">
                                                            <p class="text-muted">Prv. Day </p>
                                                            <p class="text-muted float-right"><span id="prv-day-stoppage"></span></p>

                                                        </div>
                                                        <div class="d-flex justify-content-between">
                                                            <p class="text-muted">To-Date </p>
                                                            <p class="text-muted float-right"><span id="prv_todate-stoppage"></span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Sugar in Proc(Qtl.)</h4>
                                                        <div class="d-flex justify-content-between">
                                                            <p class="text-muted">Prv. Day </p>
                                                            <p class="text-muted float-right"><span id="prv-day-sugar-in-proc"></span></p>
                                                        </div>
                                                        <div class="d-flex justify-content-between">
                                                            <p class="text-muted">To-Date </p>
                                                            <p class="text-muted float-right"><span id="prv_todate-sugar-in-proc"></span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Molasses in Proc.(Qtl.)</h4>
                                                        <div class="d-flex justify-content-between">
                                                            <p class="text-muted">Prv. Day</p>
                                                            <p class="text-muted float-right"><span id="prv-day-mol-in-proc"></span></p>

                                                        </div>
                                                        <div class="d-flex justify-content-lg-between">
                                                            <p class="text-muted">To-Date</p>
                                                            <p class="text-muted float-right"><span id="prv_todate-mol-in-proc"></span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Evaporation Clear Juice</h4>
                                                        <div class="d-flex justify-content-between">
                                                            <p class="text-muted">Prv. Day </p>
                                                            <p class="text-muted float-right"><span id="prv-day-evaporation_percent_clear_juice"></span></p>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">C.J Diverted to Distillery</h4>
                                                        <div class="d-flex justify-content-between">
                                                            <p class="text-muted">Prv. Day </p>
                                                            <p class="text-muted float-right"><span id="prv-day-diverted_clear_juice"></span></p>

                                                        </div>
                                                        <div class="d-flex justify-content-between">
                                                            <p class="text-muted">To-Date </p>
                                                            <p class="text-muted float-right"><span id="prv-day-diverted_clear_juice_todate"></span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Diverted Cane (Qtl.)</h4>
                                                        <div class="d-flex justify-content-between">
                                                            <p class="text-muted">Prv. Day </p>
                                                            <p class="text-muted float-right"><span id="prv-day-diverted_cane_qtl"></span> (<span id="prv-day-diverted_cane_percent"></span>%)</p>

                                                        </div>
                                                        <div class="d-flex justify-content-between">
                                                            <p class="text-muted">To-Date </p>
                                                            <p class="text-muted float-right"><span id="prv-day-diverted_cane_qtl_todate"></span> (<span id="prv-day-diverted_cane_percent_todate"></span>%)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-loading" tabindex="-1" role="dialog" aria-labelledby="modal-loading" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <img src="~/Content/MainContent/images/gif/loading.gif" />
                </div>
            </div>
        </div>

        
                <script src="~/Scripts/js/modal-demo.js"></script>
                @*<script src="~/Scripts/Dashboard/Dashboard-Gages-ajax-1.1.1.min.js"></script>*@
                <script src="~/Scripts/Dashboard/Dashboard-Gages-ajax-1.1.3.js"></script>
                <script src="~/Scripts/Ajax/OtherRecovery.1.1.js"></script>


