
<!DOCTYPE html>
<html lang="en">
<head>
    @*<base href="https://bslis.com">*@
    <link rel="shortcut icon" href="http://bslis.com/Content/mainContent/images/birla-favicon.ico" type="image/x-icon">
    <link rel="icon" href="http://bslis.com/Content/mainContent/images/birla-favicon.ico" type="image/x-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <title>BSLIS :: Birla sugar Lab Inforamation System</title>

    <!-- Stylesheets -->
    <!-- MAIN CSS FILES===================================
    ======================================================= -->
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/technorator_assets/app/assets/bootstrap/stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/Content/technorator_assets/app/assets/bootstrap/stylesheets/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/technorator_assets/app/assets/bootstrap/stylesheets/owl.theme.css">
    <!-- Animation -->
    <link rel="stylesheet" href="~/Content/technorator_assets/app/assets/bootstrap/stylesheets/animate.css">
    <!-- Flexslider -->
    <link rel="stylesheet" href="~/Content/technorator_assets/app/assets/bootstrap/stylesheets/flexslider.css">
    <!-- Custom CSS -->
    <link href="~/Content/technorator_assets/app/assets/bootstrap/stylesheets/theme.css" rel="stylesheet">
    <!-- Responsive styles-->
    <link rel="stylesheet" href="~/Content/technorator_assets/app/assets/bootstrap/stylesheets/responsive.css">

    <!-- Custom Fonts -->
    <!-- FontAwesome -->
    <link rel="stylesheet" href="~/Content/technorator_assets/app/assets/bootstrap/stylesheets/font-awesome.min.css">
    <!-- Elegant icon font -->
    <link rel="stylesheet" href="~/Content/technorator_assets/app/assets/bootstrap/stylesheets/line-icons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Util -->
    <link rel="stylesheet" href="~/Content/technorator_assets/app/assets/util/css/util.css" />

    <!-- jQuery UI -->
    <link rel="stylesheet" href="~/Content/technorator_assets/app/assets/panel/bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/Content/technorator_assets/app/assets/panel/bower_components/jquery-ui/themes/smoothness/theme.css" />

    <!-- Cross Browser Compatibility -->
    <!--[if gte IE 6]>
        <script src="~/Content/technorator_assets/app/assets/js/externals/css3-mediaqueries.min.js"></script>
        <script src="~/Content/technorator_assets/app/assets/js/externals/html5shiv.js"></script>
        <script src="~/Content/technorator_assets/app/assets/js/externals/placeholders.min.js"></script>
        <script src="~/Content/technorator_assets/app/assets/js/externals/respond.js"></script>
        <script src="~/Content/technorator_assets/app/assets/js/externals/selectivizr-min.js"></script>
    <![endif]-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Scoped Styles -->
    <!-- Style of payment details for pricing range -->

    <script type="text/javascript">
        var g = {
            base_url: 'https://bslis.com',
            lang_url: 'https://bslis.com',
            img_url: '~/Content/technorator_assets/app/assets/images/',
            api_url: 'https://bslis.com:85'
        };
        var cacheautoarr = new Array();
    </script>

</head>
<body id="page-top" data-spy="scroll" data-target="">

    <!-- <div class="preloader-wrapper" id="cnt_preloader">
        <div class="rotate-plane-preloader" id="preloader">
            <div class="rotate-plane-preloader-inner">
                <div class="preloader"></div>
            </div>
        </div>
    </div> -->
    <!-- Flex Slider -->
    <!-- Header -->
    <!-- Header -->
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top navbar-en" id="headermenu" style="position:fixed;background:#000;">
        <div class="container header-menu-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <!--  <a class="navbar-brand page-scroll" href="#page-top">
                    <img src="images/logo.png"/>
                 </a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="https://bslis.com">Home</a></li>
                </ul>

                <div class="tab-menu">
                    <button type="button" class="tab-toggle">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <div class="tab-outsite"></div>
                <ul class="tab-menu-list">
                    <li><a class="page-scroll" href="#contact">Contact</a></li>

                    <li><a class="page-scroll btn trail-btn try_it_button_check" href="#" data-plan="1">FREE TRIAL</a></li>
                    <li>
                        <div class="dropdown">
                            <button class="page-scroll btn trail-btn  dropdown-toggle " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                SIGN IN
                                <span class="caret"></span>
                            </button>
                            @*<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="https://secugopro.com/user/login">Account</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="https://dashboard.secugopro.com" target="_blank">Dashboard</a></li>
                            </ul>*@
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- navbar end -->
    <!-- section privacy policy start -->
    <section class="section-padding pricing-sec static-page-section">
        <div class="container">
            <!-- section heading row end -->
            <div class="row m-t-30">
                <div class="col-sm-12 text-center">
                    <h2 class="static-page-head wow fadeInDown ">English only</h2>
                </div>
            </div>
            <div class="cvv-page-block static-page-block">
                <div class="row m-t-30">
                    <div class="col-sm-12">
                        <h3 class="form-inner-head">Privacy Policy</h3>
                        <p class="m-b-30">BSLIS is committed to protecting your privacy. This privacy policy describes how BSLIS collects and uses the personal information you provide on our website, www.BSLISpro.com. It also describes the choices available to you regarding BSLIS′s Pro use of your personal information and the steps you can take to access this information and to request that we correct or update it.</p>
                        <h3 class="form-inner-head">Collection and Use of Personal Information</h3>
                        <p class="">We do not collect any personal infromation</p>
                        <ul class="static-page-list">
                            <li>
                                <p>Contact Information such as name, email address</p>
                            </li>
                            @*<li>
                                <p>Preferences Information such as product order history, marketing preferences</p>
                            </li>
                            <li>
                                <p>Unique Identifiers such as user name, ID number, account number, password</p>
                            </li>*@
                        </ul>
                        <p>We collect this information when you:</p>
                        <ul class="static-page-list">
                            <li>
                                <p>Set up an account</p>
                            </li>
                            @*<li>
                                <p>Sign up for our newsletter or email list</p>
                            </li>*@
                            <li>
                                <p>Contact us with questions or request more information about our products or services</p>
                            </li>
                        </ul>
                        <p>We use this information to:</p>
                        <ul class="static-page-list">
                            <li>
                                <p>Fulfill your order</p>
                            </li>
                            <li>
                                <p>Send you an order confirmation</p>
                            </li>
                            @*<li>
                                <p>Assess your needs to determine which products best meet those needs</p>
                            </li>
                            <li>
                                <p>Send you requested product or service information</p>
                            </li>
                            <li>
                                <p>Send product updates or warranty information</p>
                            </li>*@
                            <li>
                                <p>Respond to customer service requests</p>
                            </li>
                            @*<li>
                                <p>Administer your account</p>
                            </li>*@
                            <li>
                                <p>Send you a newsletter and informative articles</p>
                            </li>
                            <li>
                                <p>Respond to your questions and concerns</p>
                            </li>
                            @*<li>
                                <p>Improve our website and marketing efforts</p>
                            </li>*@
                        </ul>
                        <h3 class="form-inner-head">Information Sharing</h3>
                        <p>We won't share your personal information with third parties only in the ways that are described in this privacy statement. We do not sell, rent, trade, or otherwise share your personal information with third parties without first providing you notice and choice.</p>
                        
                        <p>We reserve the right to disclose your personal information as required by law (e.g. to comply with a order, warrant, court order, or legal process served on our website) and when we believe that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, and/or respond to a government request.</p>
                        <p class="m-b-30">In the event BSLIS goes through a business transition, such as a fusion, acquisition by another company, or sale of all or a portion of its assets, your personally identifiable information will likely be among the assets transferred. You will be notified via email and/or a prominent notice on our website of any such change in ownership or control of your personal information, as well as any choices you may have regarding your personal information.</p>
                        <h3 class="form-inner-head">Choice/Opt-Out</h3>
                        @*<p class="m-b-30">You may opt-out of receiving our newsletter or marketing emails from us by following the unsubscribe instructions included in each newsletter or marketing email or you can contact us at <a class="btn-link" href="mailto:admin@bslis.com">admin@bslis.com</a>.</p>*@
                        <h3 class="form-inner-head">Cookies and Other Tracking Technologies</h3>
                        <h4 class="sub-head">Cookies</h4>
                        <p>Cookies are very small text files that are stored on your computer when you visit certain web pages. We use cookies on our site to</p>
                        <ul class="static-page-list">
                            <li>
                                <p>Keep track of login name and password</p>
                            </li>
                            <li>
                                <p>Personalize your experience</p>
                            </li>
                        </ul>
                        <h4 class="sub-head">Log Files</h4>
                        <p>As is true of most websites, we gather certain information automatically and store it in log files. This information may include Internet protocol (IP) addresses, browser type, Internet service provider (ISP), referring/exit pages, operating system, date/time stamp, and/or page views.</p>
                        <p>We use this information, which does not usually identify individual users, to analyze trends, to administer the site, to track users’ movements around the site and to gather demographic information about our user base as a whole.</p>
                        <p class="m-b-30">We may record your IP addresses when you place an order through our site in order to detect and prevent fraud.</p>
                        <h4 class="sub-head">Web Beacons</h4>
                        <p>A web beacon is an electronic image placed on a web page that can serve many of the same purposes that cookies serve- for example, recording the pages you visit on our site. We or third parties may use web beacons to track the traffic patterns of users from one page to another.</p>
                        <p class="m-b-30">We or our third party service provider may use web beacons in some of our emails to let us know which emails have been opened by recipients or track click-through rates. This allows us to gauge the effectiveness of our communications to customers and our marketing campaigns.</p>
                        <h3 class="form-inner-head">Correcting and Updating Your Personal Information</h3>
                        <p class="m-b-30">To review and update your personal information to ensure it is accurate, contact us at <a class="btn-link" href="mailto:admin@bslis.com">admin@bslis.com</a>.</p>
                        <h3 class="form-inner-head">Flash LSOs</h3>
                        <p class="m-b-30">We use local shared objects, also known as Flash cookies, to store your preferences such as volume control, or display content based upon what you view on our site to personalize your visit. Third Parties, with whom we partner to provide certain features on our site or to display advertising based upon your Web browsing activity, use Flash cookies to collect and store information.</p>
                        <h3 class="form-inner-head">Links to Other Web Sites</h3>
                        <p class="m-b-30">Our Site includes links to other Web sites whose privacy practices may differ from those of BSLIS. If you submit personal information to any of those sites, your information is governed by their privacy statements. We encourage you to carefully read the privacy statement of any Web site you visit.</p>
                        <h3 class="form-inner-head">Updating/Accessing/Amending/Correcting Personally Identifiable Information</h3>
                        <p class="m-b-30">If your personally identifiable information changes, or if you no longer desire our service, you may correct, update, amend, delete/remove or deactivate it by making the change on our member information page or by emailing our Customer Support at <a class="btn-link" href="mailto:admin@bslis.com">admin@bslis.com</a>.</p>
                        <h3 class="form-inner-head">Widgets</h3>
                        <p class="m-b-30">Our website includes Widgets, which are interactive mini-programs that run on our site and are designed to provide single-purpose services (e.g. displaying the latest news, opinions, music, etc). These Widgets are hosted by a third party. Personal information, such as your email address, may be collected through the Widget. Cookies may also be set by the Widget to enable certain features of the Widget to function properly. The information collected by this Widget is subject to the Widget’s privacy policy. BSLIS S.A. is not responsible for personal information you choose to provide through the Widget.</p>
                        <h3 class="form-inner-head">Data Retention</h3>
                        <p class="m-b-30">We will retain your information for as long as your account is active or as needed to provide you services. If you wish to cancel your account or request that we no longer use your information to provide you services contact us at <a class="btn-link" href="mailto:admin@bslis.com">admin@bslis.com</a>. We will retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.</p>
                        <h3 class="form-inner-head">Security</h3>
                        <p class="m-b-30">When we collect personal information directly from you, we follow generally accepted industry standards to protect the personal information submitted to us, both during transmission and once we receive it. No method of transmission over the Internet, or method of electronic storage, is 100% secure, however. Therefore, while we strive to use commercially acceptable means to protect your personal information, we cannot guarantee its absolute security. If you have any questions about security on our website, you can contact us at <a class="btn-link" href="mailto:admin@bslis.com">admin@bslis.com</a>.</p>
                        <h3 class="form-inner-head">Notification of Privacy Statement Changes</h3>
                        <p class="m-b-30">We may update this policy from time to time as our information practices are modified or changed. If we make any material changes to this policy that affect your personal information, we will notify you by email (sent to the e-mail address specified in your account) or by means of a notice on this Site prior to the change. We encourage you to periodically review this page for the latest information on our privacy practices.</p>
                        <h3 class="form-inner-head">Contact Information</h3>
                        <p>You can contact us by email at <a class="btn-link" href="mailto:admin@bslis.com">admin@bslis.com</a>.</p>
                        <p>Dated: Nov 01, 2019</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section privacy policy end -->
    <!-- Footer -->
    <!-- footer start -->

    <footer id="section-footer">
        <div class="container">
            <div class="row">

                <div class="col-sm-6 col-md-6">
                    <div class="footer-menu">
                        <h4>LEGAL</h4>
                        <ul class="footer-menu-list">
                            <li>
                                <a href="http://bslis.com/AboutUs/PrivacyPolicy">Privacy Policy</a>
                            </li>

                        </ul>
                    </div>
                </div>


                <div class="col-md-6 col-sm-6 wow bounceInUp">
                    <!--<div class="footer-socail">
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>-->

                <div class="copy">
                    <p> Copyright &copy; 2019 Birla Sugar. </p>
                </div>
            </div>

                <!-- <div class="col-md-6 col-sm-12 wow bounceInUp">
                    <div class="text-left copy">
                        <p> Copyright &copy; 2017 Secugo Pro All rights reserved. </p>
                    </div>
                </div> -->

            </div><!--row end -->
        </div><!-- container end -->
    </footer>
    <!-- footer end -->
    <div class="js-cookie-consent cookie-consent">

        <span class="cookie-consent__message">
            We use cookies to ensure that we give you the best experience on our website, as explained in our <a href='http://bslis.com/AboutUs/PrivacyPolicy' target='_blank'>Legal Notices</a>. If you continue without changing your settings, we'll assume that you are happy to receive all cookies from this website. If you would like to change your preferences you may do so by following the instructions <a href='https://www.aboutcookies.org' target='_blank'>here</a>.
        </span>

        <button class="js-cookie-consent-agree cookie-consent__agree">
            Accept
        </button>

    </div>

    <script>

        window.laravelCookieConsent = (function () {

            var COOKIE_VALUE = 1;

            function consentWithCookies() {
                setCookie('laravel_cookie_consent', COOKIE_VALUE, 365 * 20);
                hideCookieDialog();
            }

            function cookieExists(name) {
                return (document.cookie.split('; ').indexOf(name + '=' + COOKIE_VALUE) !== -1);
            }

            function hideCookieDialog() {
                var dialogs = document.getElementsByClassName('js-cookie-consent');

                for (var i = 0; i < dialogs.length; ++i) {
                    dialogs[i].style.display = 'none';
                }
            }

            function setCookie(name, value, expirationInDays) {
                var date = new Date();
                date.setTime(date.getTime() + (expirationInDays * 24 * 60 * 60 * 1000));
                document.cookie = name + '=' + value + '; ' + 'expires=' + date.toUTCString() + ';path=/';
            }

            if (cookieExists('laravel_cookie_consent')) {
                hideCookieDialog();
            }

            var buttons = document.getElementsByClassName('js-cookie-consent-agree');

            for (var i = 0; i < buttons.length; ++i) {
                buttons[i].addEventListener('click', consentWithCookies);
            }

            return {
                consentWithCookies: consentWithCookies,
                hideCookieDialog: hideCookieDialog
            };
        })();
    </script>


    <!-- Scripts -->
    <!-- jQuery -->
    <script src="~/Content/technorator_assets/app/assets/plugins/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>

    <!-- jQuery UI -->
    <script src="~/Content/technorator_assets/app/assets/plugins/bower_components/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>

    <!-- jQuery Validate -->
    <script src="~/Content/technorator_assets/app/panel/bower_components/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Content/technorator_assets/app/panel/bower_components/jquery-validation/dist/additional-methods.js" type="text/javascript"></script>

    <!-- Bootstrap -->
    <script src="~/Content/technorator_assets/app/panel/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>

    <!-- jQuery Match Height Set -->
    <script src="~/Content/technorator_assets/app/plugins/bower_components/matchHeight/jquery.matchHeight-min.js" type="text/javascript"></script>

    <!-- Util -->
    <script src="~/Content/technorator_assets/app/util/js/util.js" type="text/javascript"></script>
    <script src="~/Content/technorator_assets/app/util/js/util-ui.js" type="text/javascript"></script>
    <script src="~/Content/technorator_assets/app/util/js/util-functions.js" type="text/javascript"></script>
    <script src="~/Content/technorator_assets/app/util/js/util-jquery.js" type="text/javascript"></script>
    <script src="~/Content/technorator_assets/app/util/js/util-globals.js" type="text/javascript"></script>
    <script src="~/Content/technorator_assets/app/util/js/util-uploader.js" type="text/javascript"></script>
    <script src="~/Content/technorator_assets/app/util/js/util-autoselect.js" type="text/javascript"></script>

    <!-- Owl Carousel Set -->
    <script src="~/Content/technorator_assets/app/assets/plugins/bower_components/owl-carousel/owl.carousel.js" type="text/javascript"></script>

    <!-- Flex Slider Set -->
    <script src="~/Content/technorator_assets/app/assets/plugins/bower_components/Flex-Slider/respond.js" type="text/javascript"></script>
    <script src="~/Content/technorator_assets/app/assets/plugins/bower_components/Flex-Slider/jquery.flexslider.js" type="text/javascript"></script>
    <script src="~/Content/technorator_assets/app/assets/plugins/bower_components/Flex-Slider/jquery.counterup.min.js" type="text/javascript"></script>
    <script src="~/Content/technorator_assets/app/assets/plugins/bower_components/Flex-Slider/jquery.easing.min.js" type="text/javascript"></script>
    <script src="~/Content/technorator_assets/app/assets/plugins/bower_components/Flex-Slider/jquery.waypoints.min.js" type="text/javascript"></script>
    <script src="~/Content/technorator_assets/app/assets/plugins/bower_components/Flex-Slider/wow.min.js" type="text/javascript"></script>
    <script src="~/Content/technorator_assets/app/assets/plugins/bower_components/Flex-Slider/theme.js" type="text/javascript"></script>

    <!-- Slick Set -->
    <script src="~/Content/technorator_assets/app/assets/plugins/bower_components/slick-carousel/slick/slick.min.js" type="text/javascript"></script>

    <!-- WOW Set -->
    <script src="~/Content/technorator_assets/app/assets/plugins/bower_components/wow/dist/wow.min.js" type="text/javascript"></script>

    <!-- HolderJS Set -->
    <script src="~/Content/technorator_assets/app/assets/plugins/bower_components/holderjs/holder.min.js" type="text/javascript"></script>

    <!-- Preloader Script -->
    <script src="~/Content/technorator_assets/app/assets/js/preloader.js" type="text/javascript"></script>

    <!-- Functions Script -->
    <script src="~/Content/technorator_assets/app/assets/js/functions.js" type="text/javascript"></script>

    <!-- App Script -->
    <script src="~/Content/technorator_assets/app/assets/js/app.js" type="text/javascript"></script>

    <script src="~/Content/technorator_assets/app/assets/panel/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
    <!-- Header login page -->


    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            init_login_form();
            init_register_form();
            init_forgot_password_form();
            init_guest_reservation_form();
            init_guest_reservation_email_form();
            init_send_copy_form();

            $(".with_redirect_url").on('click', function (e) {
                setTimeout(function () {
                    $('body').addClass('modal-open');
                }, 1000);

                var $this = $(this);
                var back_page_url = $this.data('redirect_url');
                var hide_modal = $this.data('hide_modal');
                var show_modal = $this.data('show_modal');

                $(".back_page_url").val(back_page_url);

                if (show_modal) {
                    $("#" + show_modal).modal('show');
                }

                if (hide_modal) {
                    $("#" + hide_modal).modal('hide');
                }
            });
        });

        function init_login_form() {
            var $login_form = $('#user_login_form');
            $login_form.validate(
                {
                    errorPlacement: function (error, element) {
                        $(error).addClass('text-danger m-t-10');
                        $(element).closest('.form-group').append($(error));
                    },
                    rules:
                    {
                        'email':
                        {
                            required: true,
                            email: true
                        },
                        'password':
                        {
                            required: true
                        }
                    },
                    messages:
                    {
                        'email':
                        {
                            required: "Please provide email address.",
                            email: "Please enter a valid email."
                        },
                        'password':
                        {
                            required: "Please provide a password"
                        }
                    }
                });
        }

        function init_send_copy_form() {
            var $send_copy_form = $('#send_copy_form');
            $send_copy_form.validate(
                {
                    errorPlacement: function (error, element) {
                        $(error).addClass('text-danger m-t-10');
                        $(element).closest('.form-group').append($(error));
                    },
                    rules:
                    {
                        'email':
                        {
                            required: true,
                            email: true
                        }
                    },
                    messages:
                    {
                        'email':
                        {
                            required: "Please provide email address.",
                            email: "Please enter a valid email."
                        }
                    }
                });
        }

        function init_register_form() {
            var $registration_form = $('#user_registration_form');
            $registration_form.validate(
                {
                    errorPlacement: function (error, element) {
                        $(error).addClass('text-danger m-t-10');
                        $(element).closest('.form-group').append($(error));
                    },
                    rules:
                    {
                        'register_first_name':
                        {
                            required: true
                        },
                        'register_last_name':
                        {
                            required: true
                        },
                        'register_email':
                        {
                            required: true,
                            email: true
                        },
                        'register_password':
                        {
                            required: true
                        },
                        'register_repeat_password':
                        {
                            required: true,
                            equalTo: "#register_password",
                        },
                        'register_phone':
                        {
                            required: true,
                            number: true
                        }
                    },
                    messages:
                    {
                        'register_first_name':
                        {
                            required: "Please provide first name"
                        },
                        'register_last_name':
                        {
                            required: "Please provide last name"
                        },
                        'register_email':
                        {
                            required: "Please provide email address.",
                            email: "Please enter a valid email."
                        },
                        'register_password':
                        {
                            required: "Please provide a password"
                        },
                        'register_repeat_password':
                        {
                            required: "Please repeat the password",
                            equalTo: "Not matched with the password"
                        },
                        'register_phone':
                        {
                            required: "Please provide phone number",
                            number: "Please provide valid phone number"
                        }
                    }
                });
        }

        function init_forgot_password_form() {
            var $login_form = $('#user_forget_password_form');
            $login_form.validate(
                {
                    errorPlacement: function (error, element) {
                        $(error).addClass('text-danger m-t-10');
                        $(element).closest('.form-group').append($(error));
                    },
                    rules:
                    {
                        'email':
                        {
                            required: true,
                            email: true
                        }
                    },
                    messages:
                    {
                        'email':
                        {
                            required: "Please provide email address.",
                            email: "Please enter a valid email."
                        }
                    }
                });
        }

        function init_guest_reservation_form() {
            var $guest_reservation_form = $('#guest_reservation_form');
            $guest_reservation_form.validate(
                {
                    errorPlacement: function (error, element) {
                        $(error).addClass('text-danger m-t-10');
                        $(element).closest('.form-group').append($(error));
                    },
                    rules:
                    {
                        'email':
                        {
                            required: true,
                            email: true
                        },
                        'booking_code':
                        {
                            required: true,
                            minlength: 3
                        }
                    },
                    messages:
                    {
                        'email':
                        {
                            required: "Please provide email address.",
                            email: "Please enter a valid email."
                        },
                        'booking_code':
                        {
                            required: "Please provide a booking code",
                            minlength: "Not a valid booking code"
                        }
                    }
                });
        }

        function init_guest_reservation_email_form() {
            var $guest_reservation_email_form = $('#guest_reservation_email_form');
            $guest_reservation_email_form.validate(
                {
                    errorPlacement: function (error, element) {
                        $(error).addClass('text-danger m-t-10');
                        $(element).closest('.form-group').append($(error));
                    },
                    rules:
                    {
                        'email':
                        {
                            required: true,
                            email: true
                        }
                    },
                    messages:
                    {
                        'email':
                        {
                            required: "Please provide email address.",
                            email: "Please enter a valid email."
                        }
                    }
                });
        }
    </script>


    <!-- password reset script -->

    <script type="text/javascript">
        jQuery(document).ready(function ($) {

            $("#reset-btn").on('click', function (e) {
                $("#user_modal").modal('hide');
                $("#password_reset_modal").modal('show');
            });

        });
    </script>




    <!-- password reset script end-->
    <!-- contact form script -->

    <script type="text/javascript">

    </script>
    <!-- contact form script end -->
    <!-- Scoped Scripts -->
    <!-- Script of customer's Details -->
</body>
</html>