<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BSLIS</title>
    
    <meta name="description" content="A web application for Sugar Lab Management Information System, developed by Birla Sugar And Technorator LLP. New Delhi.
            Sugar Lab Analysis Reports. Live View of Sugar factories key factors like Crushing, Juice Brix, Pol & Purity as well as stoppages occured.
          A Lab in sugar plant performs a vital role in better and smooth working of a sugar plant. 
        Lab not just checks the quality of Sugar; there are several other factors to analyze such as juice quality/purity, bagasse, press-mud, molasses, plant stoppages, power or steam consumptions etc. 
        After analyzing the samples there are a number of complex calculations to perform, here Lab Software comes into action.
        There is just need to fill hourly/bi-hourly raw analysis results in it, and software will perform all calculations itself and send SMS alerts to concern department/person as well as display reports on user screen such as running sugar bagging average, Pol and Purity of juices etc

          " />
    <meta name="keywords" content="Sugar Lab, Sugar Lab Analysis, Live Monitoring of Sugar Factories production, Crushing status
           , stoppages occured during crushing season, Hourly based analysis entry system, Sugar, Sugar Factories, Molasses, Sugar Recovery, Sugar Bagging
           , Ravi Bhushan
           , Birla Sugar and Industries
           , Technorator LLP, Techonrator
           , DSCL Sugar
           , DCM Shriram Consolidated Ltd.
           , Dalmia Sugar
           , Mawana Sugar
           , Litmus
           , BSLIS
           , Birla Sugar Lab Information System
           , UP Cane
           , Sugar Cane
           , Dalmia sugar
           , Bajaj Sugar
           , Cane
           , Kisan.net
           " />
    @*<link rel="shortcut icon" href="../favicon.ico">*@
    <link rel="stylesheet" type="text/css" href="~/Content/LandingPageContent/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/LandingPageContent/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/LandingPageContent/css/component.css" />
    <link href='https://fonts.googleapis.com/css?family=Raleway:200,400,800' rel='stylesheet' type='text/css'>
   
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
</head>
<body>
    <div class="container demo-1" id="divContainer">
        <div class="content">
            <div id="large-header" class="large-header">
                <canvas id="demo-canvas"></canvas>


                @Html.ActionLink("Birla Sugar Lab Information System.", "Login", "Home", new { }, new { @class = "main-title" });
                @*<a href='javascript:openInNewWindowWithSettings();' class="main-title">Birla Sugar Lab Information System</a>*@

            </div>
        </div>

    </div>
    <script src="~/Content/LandingPageContent/js/TweenLite.min.js"></script>
    <script src="~/Content/LandingPageContent/js/EasePack.min.js"></script>
    <script src="~/Content/LandingPageContent/js/rAF.js"></script>
    <script src="~/Content/LandingPageContent/js/demo-1.js"></script>
    <script src="~/Scripts/CustomScripts/landingPage.js"></script>

</body>

</html>

