
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Our Team</h4>
                        <p class="card-description">A team </p>
                        <div class="mt-5">
                            <div class="timeline">
                                <div class="timeline-wrapper timeline-wrapper-warning">
                                    <div class="timeline-badge"></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <img src="~/Content/MainContent/img/profile/cb-patodia-1.jpg" alt="profile" class="img-lg rounded-circle mb-3" />
                                            <h5 class="timeline-title">Shri. C.B. Patodia Ji </h5>
                                            <h6 class="timeline-title">(Group President K.K. Birla Group)</h6>
                                        </div>
                                        <div class="timeline-body">
                                            <p>
                                                Possesses rich experience of over 5 decades especially in cane procurement, sugar manufacturing process, overall administration and finance of sugar companies.
                                            </p>
                                            <small>
                                                It is an initiative of Shri C.B. Patodia Ji to bring all Sugar Unit's controlling data/Lab Data at the same plateform,
                                            </small>
                                        </div>
                                        <div class="timeline-footer d-flex align-items-center flex-wrap">
                                            <i class="mdi mdi-heart-outline text-muted mr-1"></i>
                                            <span>19</span>
                                            <span class="ml-md-auto font-weight-bold">19 June 2019</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-wrapper timeline-inverted timeline-wrapper-danger">
                                    <div class="timeline-badge"></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <img src="~/Content/MainContent/img/profile/DK Sharma.jpg" alt="profile" class="img-lg rounded-circle mb-3" />
                                            <h6 class="timeline-title">Shri D.K. Sharma Ji</h6>
                                            <h6 class="timeline-title">(Director A.S.E.L.)</h6>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Key role in planning and implementation of Birla Sugar Lab Information System.</p>
                                        </div>
                                        <div class="timeline-footer d-flex align-items-center flex-wrap">
                                            <i class="mdi mdi-heart-outline text-muted mr-1"></i>
                                            <span>25</span>
                                            <span class="ml-md-auto font-weight-bold">10th Aug 2019</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-wrapper timeline-wrapper-success">
                                    <div class="timeline-badge"></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <img src="~/Content/MainContent/img/profile/sukhbir-singh.jpg" alt="profile" class="img-lg rounded-circle mb-3" />
                                            <h6 class="timeline-title">Shri Sukhvir Singh Ji </h6>
                                            <h6 class="timeline-title">(Execuitive President - ASEL, Seohara)</h6>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Key role in planning and implementation of Birla Sugar Lab Information System.</p>
                                        </div>
                                        <div class="timeline-footer d-flex align-items-center flex-wrap">
                                            <i class="mdi mdi-heart-outline text-muted mr-1"></i>
                                            <span>19</span>
                                            <span class="ml-md-auto font-weight-bold">5th Sep 2019</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-wrapper timeline-inverted timeline-wrapper-info">
                                    <div class="timeline-badge"></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <img src="~/Content/MainContent/img/profile/pankaj-01.jpg" alt="profile" class="img-lg rounded-circle mb-3" />
                                            <h6 class="timeline-title">Shri Pankaj Bharti Ahlawat</h6>
                                            <h6 class="timeline-title">(Sr. Manager Q.C. ASEL, Seohara)</h6>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Team Lead (Technical support) & Coordinator of All Sugar production plants Q.C. lab.  </p>
                                            <p>Have valuable experience of working with <strong>Triveni Sugar Industries</strong>. Now Contributing in the growth of Avadh Sugar & Energy Limited.</p>
                                        </div>
                                        <div class="timeline-footer d-flex align-items-center flex-wrap">
                                            <i class="mdi mdi-heart-outline text-muted mr-1"></i>
                                            <span>19</span>
                                            <span class="ml-md-auto font-weight-bold">27th July 2019</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-wrapper timeline-wrapper-primary">
                                    <div class="timeline-badge"></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <img src="~/Content/MainContent/img/profile/ravi-01.jpeg" alt="profile" class="img-lg rounded-circle mb-3" />
                                            <h6 class="timeline-title">Shri Ravi Bhushan</h6>
                                            <h6 class="timeline-title">(Deputy Manager - IT ASEL, Seohara)</h6>
                                        </div>
                                        <div class="timeline-body">
                                            <p>A full-stack software developer, having more than <code>8 </code>years of experience in Software Development. </p>
                                            <p>Have experience of working with renowned companiesn like <strong>India Infoline, ICICI Lombard & DSCL Sugar. </strong> </p>
                                        </div>
                                        <div class="timeline-footer d-flex align-items-center flex-wrap">
                                            <i class="mdi mdi-heart-outline text-muted mr-1"></i>
                                            <span>25</span>
                                            <span class="ml-md-auto font-weight-bold">25th Aug 2019</span>
                                        </div>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
